
      body {
        background-color: #f5eecf;
        font-family: "Rockwell", serif;
      }
      
      #map {
        position: fixed;
      top: 0;  /* Set top to 0 to cover the top of the page */
      left: 0;  /* Set left to 0 to cover the left of the page */
      width: 100%;  /* Set width to 100% to cover the entire width of the page */
      height: 100%;  /* Set height to 100% to cover the entire height of the page */
      background: url('assets/a2.jpg');
      background-repeat: repeat;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      font-family: "Rockwell", serif;
      z-index: -50;
            visibility: hidden;
              
    
      }
      #mly {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 103%;
        background: url('assets/a5.jpg');
        background-repeat: repeat;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-family: "Rockwell", serif;
        z-index: -99;
    }
    
    .text-center2 {
        position: fixed;
        color: #ccc; /* Set the text color to white */
        top: 80%;
      display: block;
      left: 1%;
      right: 0;
        font-size: 19px;
        font-family: "Rockwell", serif;
      }
      
      .text-center {
        position: fixed;
        display: flex; /* Use flexbox */
        justify-content: flex-start; /* Align to the left */
        align-items: flex-end; /* Align to the bottom */
        bottom: 0; /* Ensure it stays at the bottom */
        left: 0; /* Ensure it stays at the left */
        text-align: center;
        font-size: 19px;
        font-family: "Rockwell", serif;
    }
    
      
      .text-center3 {
        position: fixed;
        top: 84%;
        right: 135px;
        font-size: 19px;
        font-family: "Rockwell", serif;
        color: #000000;
        text-align: center; /* Center the text vertically */
    
      }
      .custom-button {
      font-size: 30px;
      font-family: 'Germania One', cursive; /* Use Germania One font */
      display: inline-flex;
      justify-content: center; /* Center the text horizontally */
      align-items: center; /* Center the text vertically */
      padding: 10px 20px;
      background-color: #FFC30B;
      color: #000000; /* Black text color */
      text-decoration: none;
      font-weight: bold;
      border: 2px solid #000000; /* Black border */
      border-radius: 5px;
      height: 50px;
    }
    
    
    .custom-button:hover {
      background-color: #000000; /* Black background on hover */
      color: #FFC30B; /* Yellow text color on hover */
      border: 2px solid #FFC30B; /* Yellow border on hover */
    }
    
    
    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #FFC30B;
      color: #000000; /* Black text color */
      text-decoration: none;
      font-weight: bold;
      border: 2px solid #000000; /* Black border */
      border-radius: 5px;
      font-family: "Rockwell", serif;
    }
    
    .button:hover {
      background-color: #000000; /* Black background on hover */
      color: #FFC30B; /* Yellow text color on hover */
      border: 2px solid #FFC30B; /* Yellow border on hover */
    }
    
    
      h1 {
        position: fixed;
    
        font-size: 24px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 7px;
        font-family: "Rockwell", serif;
      }
      
      #loading {
        position: fixed;
    
        display: none;
        position: fixed;
        top: 95%;
        left: 7%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        text-align: center;
        font-size: 12px;
        font-family: "Rockwell", serif;
      }
      
      .leaflet-control-attribution {
        display: none !important;
      }
      
      #result {
        position: fixed;
        top: 20%;
        left: 1.8%;
        font-size: 18px;
        font-family: "Rockwell", serif;
        color: #FFC30B;
      }
      
      #loading::after {
        content: '';
        display: block;
        position: absolute;
        top: calc(50% - 15px);
        left: calc(50% + 70px);
        transform: translate(-50%, -50%);
        width: 14px;
        height: 14px;
        margin-left: 8px;
        border-radius: 50%;
        border: 4px solid #ccc;
        border-color: #a15d0a transparent #a15d0a transparent;
        animation: loading 1.2s linear infinite;
        font-family: "Rockwell", serif;
      }
      
      #loading span {
        display: inline-block;
        margin-right: 8px;
      }
      
      @keyframes loading {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
      #new-game-button {
        position: fixed;
    
        color: rgb(1, 0, 0);
        font-size: 12px;
        text-align: center;
        width: 100px;
        height: 30px;
        background-color: #FFC30B;
        top: 18px;
        font-family: "Rockwell", serif;
        right: 185px;
        border-radius: 5px;
      }
    
      #new-game-button:hover {
      background-color: #000000; /* Black background on hover */
      color: #FFC30B; /* Yellow text color on hover */
      border: 2px solid #FFC30B; /* Yellow border on hover */
    }
      #toggle-high-scores {
      position: fixed;
      color: rgb(1, 0, 0);
      font-size: 11px;
      text-align: center;
      width: 100px;
      height: 30px;
      background-color: #FFC30B;
      top: 51px;
      font-family: "Rockwell", serif;
      right: 185px;
      border-radius: 5px;
    }
    
    #toggle-high-scores:hover {
      background-color: #000000; /* Black background on hover */
      color: #FFC30B; /* Yellow text color on hover */
      border: 2px solid #FFC30B; /* Yellow border on hover */
    }
    
    #toggle-map {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center; /* Change from align-items: flex-end to align-items: center */
      font-size: 19px;
      font-family: "Rockwell", serif;
      width: 250px;
      height: 50px;
      color: rgb(1, 0, 0);
      text-align: center;
      background-color: #FFC30B;
      bottom: 10px;
      left: 10px;
      border-radius: 5px;
    
      z-index: 40;
    }
    #toggle-map:hover {
      background-color: #000000; /* Black background on hover */
      color: #FFC30B; /* Yellow text color on hover */
      border: 2px solid #FFC30B; /* Yellow border on hover */
    }
    #guess-button{
      position: fixed;
      display: flex;
      justify-content: center; /* Center the content horizontally */
      align-items: flex-end; /* Align to the bottom */
      font-size: 19px;
      font-family: "Rockwell", serif;
      width: 250px;
      height: 50px;
      color: rgb(1, 0, 0);
      text-align: center;
      background-color: #FFC30B;
      font-family: "Rockwell", serif;
      bottom: 10px; /* Adjust the distance from the bottom as needed */
      right: 10px; /* Adjust the distance from the left as needed */
      z-index: 40;
    
    }
    #guess-button:hover {
      background-color: #000000; /* Black background on hover */
      color: #FFC30B; /* Yellow text color on hover */
      border: 2px solid #FFC30B; /* Yellow border on hover */
    }
    
          #timer {
            color: rgb(1, 0, 0);
            font-size: px;
            text-align: center;
            width: 150px;
            height: 50px;
            position: absolute;
            top: 2px;
            right: 20px;
            padding: 5px;
            font-family: "Rockwell", serif;
            border: 2px solid black;
            border-radius: 5px;
    
            background-color: #FFC30B;
          }
          .logo {
      position: fixed;
      top: -65px;
      width: 180px;
      height: 180px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 10;
    }
    .logolink {
      width: 190px;
      height: 180px;
      cursor: pointer;
    }
    #score-table {
      text-align: center;
      position: fixed;
      top: 10%;
      border: 2px solid black;
            border-radius: 5px;
      left: 50%;
      color: #FFC30B;
      transform: translateX(-50%);
      background-color: #000000; /* Background image URL */
      background-size: cover; /* Adjusts the background image size */
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      z-index: 2000; /* Ensure it appears over the map */
      display: none; /* Initially hide the high score table */
      border-radius: 5px;
    
    }
    
    .yellow-border {
      text-shadow: -0.5px -0.5px 0 #FFC30B, 0.5px -0.5px 0 #FFC30B, -0.5px 0.5px 0 #FFC30B, 0.5px 0.5px 0 #FFC30B;
    }
    
    .yellow-border2 {
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    
    #score {
      position: absolute;
      width: 190px;
      height: 60px;
      margin-top: 140px;
      left: 10px;
      font-size: 30px;
      color: rgb(1, 0, 0);
      font-family: "Rockwell", serif;
      border: 2px solid black;
      border-radius: 5px;
      background-color: #FFC30B;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 60px; /* Adjust the line-height to vertically center the text */
    }
    
    
    #player-score {
      #score {
      position: absolute;
      width: 190px;
      height: 60px;
      top: 100px;
      left: 10px;
      font-size: 30px;
      color: rgb(1, 0, 0);
      font-family: "Rockwell", serif;
      border: 2px solid black;
      border-radius: 5px;
      background-color: #FFC30B;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 60px; /* Adjust the line-height to vertically center the text */
    }
    
    }
    #fullscreen-button {
          position: absolute;
          top: 10px;
          right: 10px;
          z-index: 1000;
        }
        #back-button {
          position: absolute;
          top: 10px;
          left: 10px;
          z-index: 1000;
        }
        #high-score-list{
          font-size: 20;
      text-align: left;
    
    }
    #save-score {
      font-family: "Rockwell", serif;
      color: #000000;
      text-align: center;
      background-color: #FFC30B;
      border: 2px solid black;
      border-radius: 5px;
      display: block;
      margin: 0 auto;
      padding: 10px 20px;
      font-size: 20px;
      width: fit-content; /* This sets the width of the button to fit its content */
    }
    #user-name {
      display: block;
      margin: 10px auto; /* Add margin to create space */
      padding: 10px;
      font-size: 15px;
      text-align: center;
    }
    #show-coordinates + label::before {
      content: "Show Coordinates"; /* Replace with the text you want to display */
      display: inline-block;
      width: 180px;
      height: 20px;
      background-color: #ffffff; /* Change the background color to your preferred color */
      border: 2px solid #000000; /* Change the border color to your preferred color */
      border-radius: 5px;
      margin-right: -60px;
      vertical-align: middle;
      cursor: pointer;
    }
    #show-coordinates {
      display: none;
    }
    /* Define the checked state of the custom checkbox */
    #show-coordinates:checked + label::before {
      background-color: #FFC30B; /* Change the background color for the checked state */
    }
    
    /* Style the label text next to the custom checkbox */
    #show-coordinates + label {
      vertical-align: middle;
      cursor: pointer;
    
    }
    
    #germania{
      font-family: 'Germania One', cursive;
    
    
    }
    
    
          /* Styles for mobile phones */
          @media only screen and (min-width: 300px) and (max-width: 980px) {
            #result{  font-size: 40px;
              top: 450px;
    
    }
            
            #score {
              font-size: 60px;
      width: 300px;
      height: 80px;
    
    }
    .custom-button{  width: 300px;
      height: 80px;
      font-size: 60px;
    }
    #toggle-map{width: 300px;
      height: 180px;
      font-size: 60px;}
          
    #guess-button{width: 300px;
      height: 180px;
      font-size: 60px;}
    /* Hide the default checkbox */
    #show-coordinates {
      display: none;
    }
    #timer{
      top: -40px;
      width: 300px;
      height: 180px;
      font-size: 50px;}
      #new-game-button{width: 315px;
      height: 80px;
      font-size: 40px;
    top: 212px;
    right:20px;}
    #toggle-high-scores{width: 315px;
      height: 80px;
      font-size: 40px;
    top: 300px;
    right:20px;}
    
    #show-coordinates + label::before {
      display: none;
    
    }
    #show-coordinates {
      display: none;
    }
    #show-coordinates + label {
      display: none;
    
    
    }
    .text-center2{  
      display: none;
    }
    }
    /* Create a custom checkbox style */
    
  